* {
  box-sizing: border-box;
}
.menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.onHover {
  display: block;
}

.outOfHover {
  display: none;
}

.Marker {
  position: relative;
  height: 700px;
  max-width: 700px;
}

.ModeMenu {
  color: #fff;
  background: #000000;
}
.ModeMenu span {
  padding: 1rem;
}
.ModeMenu .Button {
  background-color: #282c34;
  color: #ffffff;
  padding: 1rem;
}

.MarkerLine {
  z-index: 1;
  position: absolute;
  height: 4px;
  background-color: #282c34;
  width: calc(100% - 24px);
  left: 30px;
}

.MarkerLine.hover {
  z-index: 1;
  position: absolute;
  height: 8px;
  background-color: darkred;
  width: calc(100% - 24px);
  left: 30px;
  text-align: right;
}
.MarkerLine.hover .delete {
  position: absolute;
  right: -20px;
  top: -18px;
  font-size: 24px;
  font-weight: bold;
  color: darkred;
}
.TimeBox {
  z-index: 0;
  position: absolute;
  width: calc(100% - 24px);
  left: 30px;
  border-left: 4px solid #282c34;
  border-right: 4px solid #282c34;
  background-color: darkgray;
}

.Hour {
  font-size: 24px;
  color: silver;
  position: absolute;
  width: 100%;
  text-align: left;
}

.Hour .Line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: silver;
}
.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
